/*** Layhout ***/

section, header {
    margin-top: 20px;
}

/*** Typography ***/

div.hero-unit {
    padding: 30px 60px 30px 60px;
}

/*** CMS ***/

ul#components li.component a.remove-component {
    display:none;
}

ul#page li.component a.remove-component {
    float: right;
    cursor: pointer;
}


li.component {
    width: 248px;
    margin-left: 0;
    text-align:left;
    padding-left:10px;
    padding-right:5px;
}

ul#components, ul#page {
    margin: 0;
}

.cms-panel {
    width: 248px;
    background-color:#f3f3f3; 
    border-radius: 10px; 
    -moz-border-radius: 10px; 
    padding: 10px 10px 10px 10px; 
    border: 1px solid #e0e0e0
}

.cms-panel input[type=text] {
    width: 234px;
}

.cms-panel div.drag-text {
    background-color: black;
    opacity: 0.5;    
    border-radius: 5px;
    -moz-border-radius: 5px;
    color: white;
    font-size:18px;
    font-weight: bold;
    padding:10px;
    text-align: center;
    margin-bottom: -50px;
}

#page {
    min-height: 50px;
}

.cms-panel .save-button {
    margin-top: 10px;
}